:root{
    --blue-color:#1F79DF;
    --softBlue-color: #77ADEA;
    --orange-color:#FF6E4F;

    --middleGray-color: #D7DFE8;
    --liteGray-color:#E9EFF5;
    --darkGray-color:#C4C4C4;

    --halfBlack-color:#172135;

}