
@import url(./root.css);

/* Основной стиль */
*{
    box-sizing: border-box;
    outline: none;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }

body{
    font-family: 'Montserrat';
}

.allwrap{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 120vh;
}

.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

a{
    color:inherit;
}

h1{
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
}

h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000000; 
}

h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

h4{
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
}

h5{
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
}

h6{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.whiteBlock{
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background: #FFFFFF;
}

.blueBlock{
    background: #E9EFF5;
    border-radius: 8px;
}

.borderBlock{
    border: 1px solid #E9EFF5;
    border-radius: 8px;
    background: #FFFFFF;
}

.lines{
    height: 1px;
    background: black;
    width: 57px;
}

.linesBold{
    height: 2px;
}

/* Стили страницы */

.mainPageWrap{
    padding-top: 222px;
    padding-bottom: 180px;
}

.pages__struct{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 20px;
}

.header__top{
    background-color: var(--liteGray-color);
    padding-top: 6px;
    padding-bottom: 6px;
}

.header__top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__profile{
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    position: relative;
}

.header__profileMenu{
    position: absolute;
    top:140%;
    width: 223px;
    border-radius: 8px;
    background-color: var(--liteGray-color);
    z-index: 3;
    right: 0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.header__name{
    cursor: pointer;
}

.header__profileMenu--hidden{
    opacity: 0;
    pointer-events: none;
}

.header__profileMenu::before{
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    background: #317EE4;
    transform: rotate(-45deg) translate(0, -50%);
    right: 10px;
    top:0;
    z-index: -1;
}

.header__profileMenuItem{
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
}

.header__profileMenuItem--exit{
    color:white;
    background-color: var(--orange-color);
    border-radius: 8px 8px 0px 0px;
}

.header__phone a{
    padding-left: 4px;
}

.header__name{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}

.header__bottom{
    padding-top: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #E9EFF5;
    background: white;
}

.pages__nav li{
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
}

.pages__nav--active ul{
    position: fixed;
}

.pages__nav a{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.pages__title{
    padding-bottom: 63px;
}


.pages__navItem .lines{
    width: 20px;
    background-color: var(--orange-color);
    display: none;
}

.pages__navItemSub{
    padding-left: 50px;
}

.pages__navItemSubSub{
    padding-left: 70px;
}

.pages__navItemSub .lines{
    width: 22px;
}

.pages__navItemSub a{
    font-size: 16px;
}

.pages__navItemSubSub a{
    font-size: 14px;
    opacity: 0.3;
}

.pages__navItemSub--selected a{
    opacity: 1;
}

.pages__navItem--onlyLine .lines{
    display: block;
}
.pages__navItem--selected .lines{
    display: block;
}

.pages__navItem--selected a{
    color: var(--blue-color)
}

.pages__navItem--selected .pages__navItemSubLink{
    opacity: 1;
}

.pages__navItemSubLink svg{
    margin-left: 5px;
    margin-bottom: 3px;
}

.pages__nav ul{
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
}

.pages__info{
    display: grid;
    grid-column-gap: 20px;
}

.pages__info--mainPage{
    grid-template-columns: 4fr 3fr 3fr;
}

.pages__info--resurses{
    grid-template-columns: 7fr 3fr;
}

.pages__infoBlock{
    display: flex;
    align-items: center;
    height: 95px;
    padding: 5px 5px 5px 17px;
    grid-column-gap: 10px;
}

.pages__infoPic{
    width: 55px;
    height: 55px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pages__infoTxtVariant h2{
    color:var(--blue-color);
}

.pages__infoTxtVariantSelect{
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
    cursor: pointer;
}

.pages__infoSelectWrap{
    position: relative;
}

.pages__infoSelect{
    width: 100%;
    min-height: 95px;
    height: unset;
    position: absolute;
    z-index: 2;
}

.pages__infoSelectContent{
    display: flex;
    align-items: center;
    height: 95px;
    padding: 5px 5px 5px 17px;
    grid-column-gap: 10px;
}

.pages__infoSelect{
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
}

.pages__infoYear{
    display: grid;
    grid-template-columns: 7px 1fr 7px;
    grid-template-rows: 45px;
}
.pages__infoSelectVariant{
    width: 100%;
}

.pages__infoDate{
    padding: 0 17px;
}
.pages__infoYear div{
    display: flex;
    align-items: center;
}
.pages__infoYearSelect{
    justify-content: space-between;
    grid-column-gap: 5px;
    padding: 0 20px;
}

.pages__infoYearItem{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--liteGray-color);
    cursor: pointer;
}
.pages__infoYearItem--active{
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    color:var(--softBlue-color);
}
.pages__infoYearArr{
    cursor: pointer;
}

.pages__infoSelectVariant--hidden{
    display: none;
}

.pages__grafics{
    padding-top: 30px;
}

.pages__graficsBigBlock{
    padding: 36px;
    height: 500px;
}

.canvas__wrap{
    height: 100%;
    width: 100%;
}
.pages__infoSelect .pages__infoPic{
    background-color: var(--softBlue-color);
    transition: 0.3s;
}

.pages__infoSelect:hover .pages__infoPic{
    box-shadow: 0px 7px 20px rgba(31, 121, 223, 0.39);
}

footer{
    background-color: var(--halfBlack-color);
    padding: 25px 0;
}

.footer__txt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color:var(--darkGray-color);
    padding-top: 3px;
}

.inputWrap{
    width: 100%;
    position: relative;
    margin-top: 19px;
}

.inpTxt{
    position:absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:var(--darkGray-color);
    left: 10px;
    top:2px;
    pointer-events: none;
    transition: 0.3s;
    
}

.inputWrap input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 3px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--darkGray-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    transition: 0.3s border-bottom;
}

.inputWrap:hover input{
    border-bottom: 1px solid var(--blue-color);
}

.inputWrap--active input{
    border-bottom: 1px solid var(--darkGray-color) !important;
}

.inputWrap--active .inpTxt{
    font-size: 12px; 
    top:-19px;
}

.inputWrap--alert .inpTxt{
    color: var(--orange-color)
}

.mainBtn{
    height: 44px;
    width: 156px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    border-radius: 33px;
    border: none;
    cursor: pointer;
}

.orangeBtn{
    background: var(--orange-color);
    color:white;
    transition: 0.3s background, 0.3s color;
}

.orangeBtn:hover{
    background: #FF512A;
}

.accentBlue{
    color:var(--blue-color);
}

.pages__infoDateMounth{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pages__infoDateItem{
    background-color: var(--liteGray-color);
    border-radius: 3px;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pages__infoDateRadioWrap{
    width: 34px;
    display: flex;
    justify-content: center;
}

.pages__infoDateRadio{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.pages__infoDateRadio--active::after{
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--blue-color);
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pages__infoDateName p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.pages__infoDateItem:not(:last-child){
    margin-bottom: 3px;
}

.elem-noactive{
    opacity: 0.8;
    pointer-events: none;
}


/* Медиа */

@media screen and (max-width: 1100px){
    h2{
        font-size: 17px;
    }
    h4{
        font-size: 12px;
    }
    .pages__infoYearItem--active{
        font-size: 26px;
    }
    .pages__infoYearItem{
        font-size: 18px;
    }
    .pages__infoYearSelect{
        padding: 0 12px;
    }
    .pages__infoDateName p{
        font-size: 14px;
    }
    .pages__infoDateItem{
        height: 30px;
    }
}

.layout-content.status.status-index .page-status {
    margin-bottom: 35px;
}
.layout-content.status .masthead-container .masthead{
    margin-bottom: 35px;
}

/* Grafics */

.pages__graficsDetailBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    
}

.pages__graficsBlockWrap:not(:last-child){
    margin-bottom: 50px;
}

.pages__graficsDetailBlockItem:nth-child(n + 5){
    grid-column-start: 1;
    grid-column-end: 3;
    height: 400px;
}
.pages__graficsDetailBlockItem{
    padding: 10px;
    min-height: 230px;
    position: relative;
}

.pages__graficsBlockTitle{
    margin-bottom: 20px;
}

.pages__graficsResurseBlockSec{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;
    padding-top: 5px;
}

.pages__graficsResurseBlockSecWrap{
    padding: 25px 15px;
}

.pages__graficsResurseBlock .pages__graficsResurseBlockSecWrap:not(:last-child){
    margin-bottom: 20px;
}
.pages__graficsResurseBlockItem{
    overflow: hidden;
    max-width: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages__graficsBlockCostWrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.pages__graficsTableBlock{
    padding: 10px;
    min-height: 423px;
}

.pages__graficsPieBlock{
    min-height: 403px;
}

.pages__graficsSimpleBlock{
    min-height: 223px;
}
.pages__graficsResurseBlockItem h4{
    font-size: 25px;
    padding: 20px 5px 5px 5px;
}

.pages__graficsResurseBlockItem h5{
    font-size: 12px;
    max-width: 90%;
}

.pages__infoDateBtnWrap{
    padding-bottom: 10px;
}

.pages__infoDateBtnWrap .mainBtn{
    width: 100%;
    height: 38px;
}


/* popup */

.popup{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__contentScale{
    padding: 25px;
    width: 1100px;
    position: relative;
    height: 600px;
    margin: 25px;
}

.popup-none{
    display: none;
}

.popScaleExit{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.scaller{
    position: absolute;
    top:5px;
    right: 5px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: var(--middleGray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scaller svg{
    height: 10px;
    opacity: 0.9;
}

.prises__content, .SLA__content{
    padding: 36px 28px;
}

.staticTable__row{
    display: grid;
    transition: background-color 0.3s;
    transition-delay: 0.15s;
}

.staticTable__row:hover{
    background-color: var(--liteGray-color);
    transition-delay: 0.05s;
}

.staticTable__row:hover .staticTable__rowItem:not(:first-child){
    border-left: 1px solid white;
}

.staticTable__rowItem{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding:  10px 15px;
    grid-column-gap: 4px;
}

.staticTable__rowItemPic{
    transform: rotate(-180deg);
}

.staticTable__rowItemPic--rotate{
    transform: rotate(0deg);
}

.staticTable__row .staticTable__rowItem:not(:first-child){
    border-left: 1px solid var(--liteGray-color);
}

.staticTable__rowHeader{
    border-bottom: 1px solid var(--liteGray-color);
}

.SLA__content{
    margin-top: 30px;
}

.SLA__tableWrap{
    overflow-y: scroll;
    max-height: 650px;
}

.SLA__tableWrapContent{
    min-width: 100%;
}

.staticTableWrap{
    min-height: 350px;
}

.budget__staticTable{
    padding: 28px 32px;
}